<h2>About InsuredMine</h2>
<p>
    We are obsessed with solving real world problems working in 5 time zones but with 1 vision
    InsuredMine is a technology company. We make leveraging agency data by agency users simple, easy, convenient, and intuitive. We are a team of young and smart technologists, writers, thinkers and innovators from across the world, who share an intense passion-fueled drive to bring simple solutions to complex problems that plague insurance agencies. By combining tools for sales, engagement, analytics, and mobility we are revolutionizing the policyholder experience and the agency KPI’s.
    What We Do?
We are unifying the value chain of sales-to-service for agents
Agencies and their staff often do not have technology tools that are simple and intuitive to manage their client and prospect relationships. From marketing and relationship-building to the sales process to account nurturing and retention a need existed for an all-in-one tool for Sales, Engagement, Analytics, and Mobility. InsuredMine fills that need.

Our Story
Spoiler alert: It didn’t begin with, ‘Once upon a time…’
Our story has a humble beginning; but don’t let that fool you, because when faced with challenges, we test our limits to create uncompromising solutions. Our love for innovation keeps us up all night; and our personal experiences while dealing with outdated and inadequate methods of managing insurance has left us craving for innovation. One small thought has expanded into a diverse team committed to solving the challenges that face the independent insurance agent.

Our Values
It takes a team to create lasting values
Our core values of Innovation, Quality, Accountability and Mutual Respect are what makes us a great team. Our values are important to our vision and mission. While our vision drives us to enhance our product for superior customer experience, our mission keeps us on track to constantly challenge, innovate and simplify. With our commitment to unlock the power within each independent agent’s data, we know the future awaits us with many challenges; but we choose to focus on the opportunities disguised as those challenges. We believe, this realization is what will lead us to the summits of success.
</p>
<div class="row">
        <div class="side">
          <h2>What is InsuredMine?</h2>
          <p>An Add-on to any Agency Management System that helps Agents with sales, engagement, analytics, and mobility. Insurance Agents/Support Teams utilize InsuredMine’s Agency Portal and Mobile App to manage clients & prospects, offering an omnichannel presence and last mile connectivity.</p>
          <p>InsuredMine is a technology company. We make leveraging agency data by agency users simple, easy, convenient, and intuitive. We are a team of young and smart technologists, writers, thinkers and innovators from across the world, who share an intense passion-fueled drive to bring simple solutions to complex problems that plague insurance agencies. By combining tools for sales, engagement, analytics, and mobility we are revolutionizing the policyholder experience and the agency KPI’s.</p>
          <h5>Photo of me:</h5>
          <div class="firstclass" style="height:300px;">
            <img src="assets/images/ad325308-a43d-4762-b5b1-642eedc6ffceInsure.png">
          </div>
          </div>
      </div>