<html>
<head>
<title>Gallery of InsuredMine</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="header">
  <h1>Gallery of InsuredMine</h1>
</div>

<div class="row">
  <div class="side">
    <div style="height:300px;">
        <img src="assets/images/maxresdefault.jpg"><br>
      <img src="assets/images/ad325308-a43d-4762-b5b1-642eedc6ffceInsure.png"><br>
      <img src="assets/images/1_3tyl90TNkzYbTdWTPEBS-Ainsure.png"><br>
      <img src="assets/images/insure.png"><br>
      <img src="assets/images/maxresdefault.jpg">
    </div>
    </div>
</div>
</body>
</html>



